<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body style="text-align: center;">
    <h1 class="text-center bg-primary p-5 text-white m-0 ">The Solar System</h1>
    <%- include("partials/navbar.ejs") %>
    <h2><%= planet_name %></h2>
    <%= planetInfo.description %>
    <br><br>
    <h2>Fun Facts!</h2>
    <br>
    <table>
        <tr>
            <th>Planet Name</th>
            <th>Distance From Sun (in million km)</th>
            <th>Year Length (in Earth days)</th>
            <th>Radius (in km)</th>
            <th>One Earth Day (in hours)</th>
            <th>Number of Moons</th>
        </tr>
        <tr>
            <td><%= planetInfo.name %></td>
            <td><%= planetInfo.distanceFromSun %></td>
            <td><%= planetInfo.yearLength %></td>
            <td><%= planetInfo.radius %></td>
            <td><%= planetInfo.oneEarthDay %></td>
            <td><%= planetInfo.moons %></td>
        </tr>
    </table>
        <br>
    <img src="<%=planetInfo.image %>" width="300">
</body>

<%- include("partials/footer.ejs") %>

</html>